* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: odinFont;
  src: url(fonts/Norsebold.otf);
}
html {
  background-color: #111;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 1200px;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  position: relative;
  background-image: url("imgs/palms.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  flex: 3.5;
}

.content-container {
  height: 100vh;
  flex: 6.5;
  background-color: rgb(249, 250, 251);
}

.odin-logo-container {
  padding: 15px;
  margin-top: 50%;
  background-color: rgb(17, 17, 17, 0.6);
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  color: white;
  font-size: 85px;
  font-family: "odinFont";
  letter-spacing: 2px;
}
.odin-img {
  height: 100%;
}

small,
small a:link,
small a:visited {
  color: #ccc;
  font-weight: 300;
}

.photo-credit {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.padded {
  padding: 0 110px 0 40px;
}

.main-text-container {
  margin-top: 160px;
  margin-bottom: 68px;
  font-size: 22px;
  font-weight: 500;
}

.hero-text {
  margin-bottom: 30px;
}

.form-container {
  background-color: #ffffff;
  box-shadow: 0px 5px 8px #ddd;
  margin-bottom: 30px;
}

.name-row,
.contact-row,
.password-row {
  display: flex;
  gap: 70px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333;
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.form-container input {
  border: solid 1.5px rgba(204, 204, 204, 0.6);
  border-radius: 5px;
  width: 240px;
  height: 30px;
  padding: 0 9px;
}

.form-container input:invalid {
  border: solid 1.5px red;
  border-radius: 5px;
}

.form-container input:focus {
  border: solid 1.5px rgb(52, 121, 221);
  box-shadow: 1px 1px 4px 1px rgba(85, 85, 85, 0.5);
  border-radius: 5px;
  outline: none;
}

.password-row {
  padding-bottom: 14px;
}

label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #555;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.submit-btn {
  font-size: 18px;
  width: 215px;
  height: 45px;
  background-color: #586c4a;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  margin-bottom: 30px;
  box-shadow: 0px 6px 7px #ddd;
  transition: all 0.3s;
}

.submit-btn:hover {
  background-color: #667a58;
  box-shadow: 0px 2px 7px #ddd;
  cursor: pointer;
}

.login-container {
  font-size: 17px;
}

.login-container a:link,
.login-container a:visited {
  color: #586c4a;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
}

.login-container a:hover,
.login-container a:active {
  color: #667a58;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
}
